<persistence>
    <persistence-unit name="repository-test" transaction-type="JTA">
        <provider>org.hibernate.jpa.HibernatePersistenceProvider</provider>
        <mapping-file>Foo.orm.xml</mapping-file>
        <properties>
            <property name="jakarta.persistence.jdbc.driver" value="org.h2.Driver" />
            <property name="jakarta.persistence.jdbc.url" value="jdbc:h2:mem:testdb;DB_CLOSE_DELAY=-1;NON_KEYWORDS=KEY,VALUE" />
            <property name="jakarta.persistence.jdbc.user" value="test-user" />
            <property name="jakarta.persistence.jdbc.password" value="test-password" />
        </properties>
    </persistence-unit>
</persistence>